{% extends base_site %}

{% block title %}{{ page_name }}{%endblock%}

{% block content %}
<h2>{{ page_name }}</h2>
<p>Spiky ist ein Wiki, welches von uns für das Projekt "Webprogrammierung" unter Leitung von Prof. Dr. Peter Thiemann und Phillip Heidegger an der Universität Freiburg im Wintersemester 2007/08 entwickelt wurde. Es basiert auf Django und Python.</p>

<h3>Das Team</h3>
<dl>
	<dt>Philipp Wollermann</dt>
	<dd>"Mit Django sind das nur vier Zeilen"</dd>

	<dt>Simon Franz</dt>
	<dd>"Im Prinzip alles der gleiche Code"</dd>

	<dt>Benjamin Lieberwirth</dt>
	<dd>"Der Rest ist geschenkt"</dd>

	<dt>Sebastian Sebald</dt>
	<dd>"Ich hab grad noch schnell den CD-Ripper eingebaut"</dd>
</dl>

{% endblock %}
