{% extends base_site %}

{% block title %}{{page_name}}{%endblock%}

{% block content %}
<h2>{{page_name}}</h2>

<h4>Gewährleistung</h4>
<div>Alle Angaben auf dieser Homepage sind ohne Gewähr. Alle Inhalte sind freibleibend, Änderungen vorhalten. Eine Haftung für die Richtigkeit der Veröffentlichung kann trotz sorgfältiger Prüfung nicht übernommen werden. Bei Fehlermeldungen und Richtigstellungen freuen wir uns dennoch über einen Hinweis.</div>

<h4>Haftungshinweis</h4>
<div> Trotz sorgfältiger inhaltlicher Kontrolle übernehmen wir keine Haftung für die Inhalte externer Links. Für den Inhalt der verlinkten Seiten sind ausschließlich deren Betreiber verantwortlich.</div>

<h4>Nutzung der Homepage</h4>
<div>Jede kommerzielle Nutzung der Inhalte dieser Seiten ist untersagt! Insbesondere ist die Verwendung von Inhalten zu Zwecken der Markt- und Meinungsforschung und der Werbung untersagt! Dazu zählt auch das Sammeln von hier veröffentlichten E-Mail-Adressen oder Telefonnummern.</div>

<h4>Urheberrecht</h4>
<div>Kein Teil dieser Homepage darf ohne ausdrückliche schriftliche Genehmigung des Anbieters in irgendeiner Form reproduziert oder unter Verwendung elektronischer Systeme verarbeitet, vervielfältigt oder verbreitet werden. Zuwiderhandlungen können sowohl zivilrechtlich als auch strafrechtlich verfolgt werden.</div>

{% endblock %}


